@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Index.css" />
<div class="section">

    <h1 id="fontcolor">Welcome To Retail Banking</h1>

    <div class="video-container">

        <video autoplay loop muted>
            <source src="~/video/bg.mp4" type="video/mp4">
        </video>
    </div>

</div>
